#hero-container {
    background-color: #495E57;
}

#hero-container h2 {
    color: #F4CE14;
}

#hero-container h3 {
    color: #EDEFEE;
}

#hero-container p {
    color: #EDEFEE;
}

#hero-container img {
    max-height: 300px;
    min-width: 280px;
}

@media screen and (min-width: 768px) {
    #hero-container #hero-img-col {
        align-items: center;
         justify-content: end;
    }
}



