#about {
    background-color: #FFFFFF;
}

#about h2 {
    color: #495E57;
}

#about img {
    max-width: 300px;
}

#img-col {
    height: 280px;
}

#img-box {
    position: relative;
}

#img-box .img1 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 60%;
}
#img-box .img2 {
    position: absolute;
    top: 100px;
    left: 40%;
    width: 60%;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #img-col {
    height: auto;
    }

    #img-box .img1 {
    top: 100px;
    width: 85%;
    }

    #img-box .img2 {
    top: 200px;
    width: 85%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    #img-col {
    height: 300px;
    }

    #img-box .img1 {
    top: 70px;
    }

    #img-box .img2 {
    top: 140px;
    }
}

@media screen and (min-width: 1400px) {
    #img-col {
    height: 300px;
    }

    #img-box .img1 {
    top: 40px;
    }

    #img-box .img2 {
    top: 110px;
    }
}