header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 100px;
    position: fixed;
    top: 0px;
}

#header-img {
    height: 59px;
    width: 218px;
}