#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
}

img {
    height: 59px;
    width: 218px;
}