#footer-container {
    background-color: #EDEFEE;
}

#footer-container h4 {
    margin-top: 1em;
}

#footer-img {
    max-width: 120px;
}

.footer-list ul{
    list-style-type: none;
    padding-left: 0;
    color: #495E57;
}

.footer-list li {
    font-family: 'Karla';
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.5em;
}

.footer-list a{
    color: #495E57;
    font-weight: 600;
    text-decoration: none;
}

.footer-list a:hover{
    color: #F4CE14;
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    #footer-container h4 {
    margin-bottom: 1em;
    }
}

@media screen and (min-width: 1400px) {
    #footer-container h4 {
    margin-bottom: 1em;
    }
}