footer {
    background-color: #EDEFEE;
}

#footer-img {
    max-width: 150px;
}

.footer-list ul{
    list-style-type: none;
    margin-top: 1.5em;
    padding-left: 0;
    color: #495E57;
}

.footer-list li {
    margin-top: 0.5em;
}

.footer-list a{
    color: #495E57;
    text-decoration: none;
}

.footer-list a:hover{
    color: #F4CE14;
}

@media (max-width: 991px) {
    #footer-img {
        max-width: 120px;

    }
}