footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    height: 400px;
}

#footer-img {
    width: 165px;
    height: 290px;
}

.footer-info {
    display: flex;
    justify-content: center;
    gap: 6em;
    width: auto;
}

.footer-list {
    width: auto;
}


.footer-list ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 1.5em;
}

.footer-list li {
    margin-top: 0.5em;
}

/* .footer-list a{
    color: black;
} */