@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

:root {
  font-family: 'Markazi Text', 'Karla', sans-serif;
  color: #333333;
  background-color: #EEEEEE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

a {
  font-weight: 500;
  color: #333333;
}
a:hover {
  color: #F4CE14;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-family: 'Markazi Text';
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 40px;
}

h3 {
  font-family: 'Markazi Text';
  font-size: 40px;
  font-weight: 400;
}

h4 {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 800;
}

h5 {
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 700;
}

p {
  font-family: 'Karla';
}

img {
  border-radius: 16px;
}

.yellow-button {
  background-color: #F4CE14;
  border: #F4CE14;
  border-radius: 16px;
  color: #333333;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 20px;
}